<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!-- Include the above in your HEAD tag -->

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<div id="main-wrap">
  <app-sidebar></app-sidebar>
  <div class="main">
    <div class="container">
      <div class="middle">
        <div *ngIf="!IsJWTUndefined(); else logOut">
          <div>
            <h2>Tip karte:</h2><br>
            <p class="paragraf_text">
              <select id="ButtonsHomePage" [(ngModel)]="tip">
                <option *ngFor="let t of tipovi">
                  {{t}}
                </option>
              </select>
            </p>
            <form [formGroup]="regGroup" (ngSubmit)="BuyTicketUnregister()">
              <fieldset class="clearfix">
                <br>
                <h3>Email:</h3>
                <br>
                <input class="form-control" Placeholder="Email" type="text" formControlName="mejl"><br>
                <!-- JS because of IE support; better: placeholder="Username" -->
              </fieldset>
              <div class="clearfix"></div>
            </form><br>
            <button id="ButtonsHomePage" (click)="BuyTicketUnregister()">Kupi kartu</button>

            <br>
            <p class="paragraf_text">{{vaziDo}}</p>
            <app-paypal></app-paypal>
            <br>
            <div class="clearfix"></div>
          </div>
        </div>
        <!-- *********************************************************************************************************************** -->
        <div>
          <ng-template #logOut>
            <div id="login">
              <h2>Tip karte:</h2><br>
              <p><span class="fa "></span>
                <select id="ButtonsHomePage" [(ngModel)]="tip">
                  <option *ngFor="let t of tipovi">
                    {{t}}
                  </option>
                </select><br>
              </p>
              <br>
              <p><span class="fa "></span><button id="ButtonsHomePage" (click)="BuyTicket()">Kupi kartu!</button></p>
              <br>
              <p class="paragraf_text">
                {{vaziDo}}
              </p>
              <br>
              <app-paypal></app-paypal>
              <br>
              <div class="clearfix"></div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>