body {
  background: #0264d6; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #0264d6 1%, #1c2b5a 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#0264d6), color-stop(100%,#1c2b5a)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #0264d6 1%,#1c2b5a 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #0264d6 1%,#1c2b5a 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #0264d6 1%,#1c2b5a 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #0264d6 1%,#1c2b5a 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0264d6', endColorstr='#1c2b5a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  height:calc(100vh);
  width:100%;
}

div.card {
  background: #c8dbf1; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #c8dbf1 1%, #c8dbf1 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#c8dbf1), color-stop(100%,#c8dbf1)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #c8dbf1 1%,#c8dbf1 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #c8dbf1 1%,#c8dbf1 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #c8dbf1 1%,#c8dbf1 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #c8dbf1 1%,#c8dbf1 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8dbf1', endColorstr='#c8dbf1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  margin-left: 300px;
}

.divider-text {
  position: relative;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.divider-text span {
  padding: 7px;
  font-size: 12px;
  position: relative;   
  z-index: 2;
}
.divider-text:after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #ddd;
  top: 55%;
  left: 0;
  z-index: 1;
}