<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!-- Include the above in your HEAD tag -->

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<div class="main">
  <app-sidebar></app-sidebar>
  <div class="container">
    <div class="middle">
      <div id="login">
        <button class="btn btn-primary form-control">Linija:</button>
        <hr>
        <p class="paragraf_text">
          <select id="ButtonsHomePage" [(ngModel)]="selectedLine">
            <option *ngFor="let lin of linijeZaView">
              <a title="{{text}}">{{lin}}</a>
            </option>
          </select>
        </p>
        <br>
        <button class="btn btn-primary form-control">Dan:</button>
        <hr>
        <br>
        <p>
          <select id="ButtonsHomePage" [(ngModel)]="dan">
            <option *ngFor="let d of dani">
              {{d}}
            </option>
          </select>
        </p><br>
        <br>

        <button class="form-control btn btn-success" (click)="OnGetDepartures()">Red voznje</button>
        <br>
        <br>
        <hr>
        <!-- iz baze:<br> -->
        {{linija.linije}}
        <h4 class="form-control" style="background: white; color: black">Polasci:</h4>
        <br>
        {{ras.polasci}}
        <br><br><br>
        <p><span class="fa "></span><a id="ButtonsHomePage" routerLink="/home">Home!</a></p>
        <!-- <button (click)="ParseJSON()" >Json</button> -->
        <div class="clearfix"></div>
      </div>
      <app-map id="mapaView" [linija]="selectedLine"></app-map>
    </div>
    <br>
  </div>
  <br>
</div>