<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!-- Include the above in your HEAD tag -->

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<div id="main-wrap">
  <app-sidebar></app-sidebar>
  <div class="main">
    <div class="container">
      <div class="middle">
        <div id="login">
          <div class="paragraf_text">
            <h2 style="color: black">Tip Karte:</h2>
            <br>
            <select id="ButtonsHomePage" [(ngModel)]="tip">
              <option *ngFor="let t of tipovi">
                {{t}}
              </option>
            </select>
            <br>
            <br>
            <br>
            <h2 style="color: black">Tip putnika:</h2>
            <br>
            <select id="ButtonsHomePage" [(ngModel)]="tipPutnika">
              <option *ngFor="let tP of tipoviPutnika">
                {{tP}}
              </option>
            </select><br>
          </div>
          <br>
          <p><button id="ButtonsHomePage" (click)="TicketPrice()">Cenovnik</button></p>
          <br>
          {{cena}}
        </div>
      </div>
    </div>
  </div>
</div>